/* ========================= */
/* RESPONSIVE (MOBILE + TAB) */
/* ========================= */

/* Tablet */
@media (max-width: 992px) {

    .main-section {
        height: auto; /* fix height issue */
        /* padding: 60px 0; */
        text-align: center;
    }

    .heading1 {
        font-size: 36px;
    }

    .heroimage {
        padding: 20px !important;
    }

    .heroimage img {
        width: 80%;
    }

    .social-icons {
        justify-content: center;
    }
}

/* Mobile */
@media (max-width: 576px) {

   
    .heading {
        font-size: 22px;
    }

    .heading1 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }

    .peragraph {
        font-size: 14px;
        text-align: center;
    }

    .heroimage img {
        width: 90%;
    }

    .social-icons a {
        font-size: 20px;
    }

    /* Navbar spacing */
    .navbar-nav {
        gap: 10px;
        padding-top: 10px;
    }
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.reveal-left {
    opacity: 0; /* Shuru mein gayab */
    transform: translateX(-100px); /* 100px pichay (left side) */
    animation: moveIn 0.8s ease-out forwards; /* 1.2 seconds mein aayega */
}
.reveal-lef {
    opacity: 0; /* Shuru mein gayab */
    transform: translateX(-100px); /* 100px pichay (left side) */
    animation: moveIn 3.2s ease-out forwards; /* 1.2 seconds mein aayega */
    animation-delay: 0.3s; /* Thoda ruk kar aayega, jo cool lagta hai */
}

.reveal-right {
    opacity: 0; /* Shuru mein gayab */
    transform: translateX(100px); /* 100px aagay (right side) */
    animation: moveIn 1.2s ease-out forwards;
    animation-delay: 0.3s; /* Thoda ruk kar aayega, jo cool lagta hai */
}
.reveal-righ {
    opacity: 0; /* Shuru mein gayab */
    transform: translateX(100px); /* 100px aagay (right side) */
    animation: moveIn 2.0s ease-out forwards;
    animation-delay: 1.2s; /* Thoda ruk kar aayega, jo cool lagta hai */
}

@keyframes moveIn {
    to {
        opacity: 1; /* Poora nazar aaye */
        transform: translateX(0); /* Apni asli jagah (0) par aa jaye */
    }
}


/* FLOAT IMAGE */
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.floating-img {
    animation: float 4s ease-in-out infinite;
}
#typing-text{
    /* color: #007bff; */
    color: aqua;
    font-weight: bold;
}
.cursor{
    /* box-shadow: 0 0 10px aqua; */
    color: aqua;
    /* color: #007bff; */
    font-weight: 100;
    animation: flash 0.8s infinite;
}
@keyframes flash{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}